* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Averta Std;
  src: url(../fontes/AvertaStd-Bold.ttf);
}

:root {
  --color-greyscale-gray900: #2f3542;
  --color-primary: #2ed573;
  --color-grayscale-gray100: #e7e8eb;
  --color-primaryDark: #25aa5c;
  --color-grayscale-gray800: #454b58;
  --color-grayscale-gray700: #5c616e;
  --color-primaryLight: #82e6ab;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

/*menu-header*/

header {
  background-image: url("../assets/bg_header.png");
  background-color: var(--color-greyscale-gray900);
  background-position: center;
}

header .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.header-top img {
  width: 200px;
  height: 40px;
}

.header-top .navigation {
  display: flex;
  align-items: center;
  gap: 56px;
}

.header-top .navigation ul {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.header-top .navigation li {
  list-style: none;
}

.header-top .navigation a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  padding: 24px;
  transition: all 250ms linear 0s;
}

.navigation .active {
  color: var(--color-primary) !important;
  border-bottom: 1px solid var(--color-primary);
  transition: all 250ms linear 0s;
}

.navigation a:hover {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

/*menu-hamburguer*/
.hamburguer {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #ffffff;
}

/*finish menu-header */

/*start first-fold */

.first-fold {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  background-color: var(--color-greyscale-gray900);
}

.header-image img {
  width: 90%;
  height: 90%;
}

.header-content .title-top {
  color: var(--color-primary);
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.title-icon {
  display: flex;
  gap: 10px;
}

.title-icon .title {
  font-family: "Averta Std";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.title-icon .icon {
  display: flex;
  width: 32px;
  height: 32px;
}

.header-content p {
  font-family: "Inter";
  font-style: norm;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grayscale-gray100);
  margin-bottom: 16px;
  margin-top: 16px;
}

.base-button {
  display: flex;
  margin-top: 48px;
  gap: 16px;
}

.base-button .primary {
  display: flex;
  width: 189px;
  height: 48px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  background: var(--color-primaryDark);
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  border: 1px solid var(--color-primaryDark);
}

.primary:hover {
  background: #2ed573;
}

.base-button .secondary {
  background: var(--color-greyscale-gray900);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  width: 151px;
  height: 48px;
  padding: 12px 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--color-primary);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.secondary:hover {
  color: #25aa5c;
  border: 1px solid #25aa5c;
}

/*finish firs-fold */

/*about me */

.about {
  padding: 64px 0px;
  background: var(--color-grayscale-gray800);
}

.about .about-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  padding: 60px;
}

.about .about-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about .about-photo {
  border: 2px solid var(--color-primary);
  padding: 4px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .about-photo img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}

.about .about-title-work .about-title {
  font-family: "Averta Std";
  font-weight: 600;
  font-size: 24px;
  color: var(--color-primary);
  text-align: center;
}

.about .about-title-work .about-work {
  font-family: "Inter";
  font-size: 16px;
  color: var(--color-grayscale-gray100);
  text-align: center;
}

.about .about-socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.about .about-socialMedia img {
  width: 27px;
  height: 27px;
}

.about .about-socialMedia img:nth-child(3) {
  width: 28px;
  height: 22px;
}

.about .about-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about .about-description .description-title {
  display: flex;
}

.about .about-description .description-title .title {
  font-family: "Averta Std";
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}

.about .about-description .description-title img {
  width: 22px;
  height: 22px;
}

.about .about-description .description-hi {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about .about-description .description-hi img {
  width: 22px;
  height: 22px;
}

.about .about-description .description-hi span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.about .about-description p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
  background: var(--color-greyscale-gray900);
}

.skills .container-skills {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.container-skills .skills-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.skills-top .title-skills {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.title-skills h2 {
  font-family: "Averta Std";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.title-skills img {
  width: 22px;
  height: 22px;
}

.body-skills {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.body-skills p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.skills-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.skills-bottom .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: var(--color-grayscale-gray800);
  border: 2px solid #5c616e;
  border-radius: 8px;
}

.card span {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.card:hover {
  background: var(--color-greyscale-gray900);
  border: 2px solid #82e6ab;
  border-radius: 8px;
  font-weight: 700;
}

/*project card css*/
.projects {
  padding: 60px;
  justify-content: center;
  background: var(--color-grayscale-gray800);
}

.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  padding: 64px 0px;
  gap: 24px;
}

.projects-container .project-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.project-left .project-title h2 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 588px;
  height: 60px;
  font-family: "Averta Std";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.project-left .project-title {
  display: flex;
  width: 24px;
  gap: 10px;
}

.project-title img {
  width: 24px;
  height: 24px;
}

.project-left .project-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.project-card {
  display: flex;
  flex-direction: row;
  gap: 24px;
  scroll-snap-type: x;
  overflow-x: auto;
}

.project-card .project-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 16px;
  align-items: flex-start;
  background: var(--color-greyscale-gray900);
  border: 1px solid var(--color-grayscale-gray700);
  border-radius: 8px;
  width: 280px;
  height: 224px;
}

.project-card-container {
  scroll-snap-align: end;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primaryLight);
  border-radius: 10px;
}

.project-card-container .project-card-header h3 {
  font-family: "Averta Std";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}

.project-card-container .project-card-header p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grayscale-gray100);
  margin-bottom: 20px;
}

.project-card-header .project-card-skill span {
  width: 51px;
  height: 24px;
  padding: 4px 8px;
  border: 1px solid #82e6ab;
  border-radius: 4px;
  gap: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-primaryLight);
}

.project-card-container .project-card-footer button {
  padding: 12px 20px;
  background-color: var(--color-primaryDark);
  border-radius: 4px;
  margin-top: 20px;
  width: 248px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #ffffff;
}

.project-card-footer button:hover {
  background: var(--color-primary);
}

.project-card-skill span:hover {
  color: #ffffff;
  background: var(--color-primary);
}

/*contact*/

.contact {
  padding: 60px;
  background: var(--color-greyscale-gray900);
}

.contact .container-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 24px;
}

.container-contact .contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.contact-left .head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.head .head-title {
  display: flex;
  gap: 8px;
}

.head-title h2 {
  font-family: "Averta Std";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.head-title img {
  width: 22px;
  height: 22px;
  gap: 10px;
}

.head p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.contact-left .list {
  display: flex;
  flex-direction: column;
  width: 592px;
  height: 104px;
}

.list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 16px;
}

.list ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.list img {
  width: 21px;
  height: 21px;
  gap: 10px;
}

.contact-left .contact-socialMedia {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-socialMedia img {
  width: 27px;
  height: 27px;
}

.container-contact .contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.contact-right img {
  width: 90%;
  height: 90%;
}

footer {
  height: 48px;
  width: 100%;
  background: var(--color-greyscale-gray900);
  border-bottom: 4px solid var(--color-primary);
  padding: 16px 64px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content img {
  width: 80px;
  height: 16px;
}

.footer-content .footer-copyRight {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--color-grayscale-gray100);
}

.footer-content .footer-design {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grayscale-gray100);
}

.footer-content .footer-design span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-primary);
}

/*responsividade */
@media (min-width: 1024px) and (max-width: 1199px) {
  .header-top {
    padding: 60px;
  }

  .header-content {
    padding: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-top {
    padding: 60px;
  }

  .header-content {
    padding: 60px;
  }

  .header-image img {
    display: none;
  }

  .base-button {
    display: flex;
    flex-direction: column;
  }

  .base-button .primary,
  .base-button .secondary {
    width: 343px;
    height: 48px;
  }

  .container-contact {
    padding: 60px;
  }

  .container-contact .contact-right {
    display: none;
  }

  footer {
    height: 100%;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px 24px;
  }

  .navigation {
    display: block;
  }

  .one,
  .two,
  .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-color: var(--color-grayscale-gray800);
    z-index: 10; /*posiçao das camadas*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on .navigation {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on .navigation ul {
    text-align: center;
    display: block;
  }

  .menu-section.on .navigation ul a {
    transition-duration: 0.5s;
    font-size: 25px;
    line-height: 20px;
    display: block;
  }

  .navigation ul li {
    display: none;
  }

  .menu-section.on .navigation ul li {
    display: block;
  }

  .about-description .description-title .title {
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .header-top {
    padding: 60px;
  }

  .header-content {
    padding: 60px;
  }

  .header-image img {
    display: none;
  }

  .base-button {
    display: flex;
    flex-direction: column;
  }

  .base-button .primary,
  .base-button .secondary {
    width: 343px;
    height: 48px;
  }

  .container-contact {
    padding: 60px;
  }

  .container-contact .contact-right {
    display: none;
  }

  footer {
    height: 100%;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px 24px;
  }
  .navigation {
    display: block;
  }

  .one,
  .two,
  .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-grayscale-gray800);
    z-index: 10; /*posiçao das camadas*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on .navigation {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on .navigation ul {
    text-align: center;
    display: block;
  }

  .menu-section.on .navigation ul a {
    transition-duration: 0.5s;
    font-size: 18px;
    line-height: 20px;
    display: block;
  }

  .navigation ul li {
    display: none;
  }

  .menu-section.on .navigation ul li {
    display: block;
  }

  .about-description .description-title .title {
    align-items: center;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .header-top {
    padding: 60px;
  }

  .header-content {
    padding: 60px;
  }

  .header-image img {
    display: none;
  }

  .base-button {
    display: flex;
    flex-direction: column;
  }

  .base-button .primary,
  .base-button .secondary {
    width: 343px;
    height: 48px;
  }

  .container-contact {
    padding: 60px;
  }

  .container-contact .contact-right {
    display: none;
  }

  footer {
    height: 100%;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px 24px;
  }
  .navigation {
    display: block;
  }

  .one,
  .two,
  .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-grayscale-gray800);
    z-index: 10; /*posiçao das camadas*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on .navigation {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on .navigation ul {
    text-align: center;
    display: block;
  }

  .menu-section.on .navigation ul a {
    transition-duration: 0.5s;
    font-size: 18px;
    line-height: 20px;
    display: block;
  }

  .navigation ul li {
    display: none;
  }

  .menu-section.on .navigation ul li {
    display: block;
  }

  .about-description .description-title .title {
    align-items: center;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .header-top {
    width: 100%;
  }

  .header-content {
    padding: 60px;
  }

  .header-image img {
    display: none;
  }

  .base-button {
    display: flex;
    flex-direction: column;
  }

  .base-button .primary,
  .base-button .secondary {
    width: 343px;
    height: 48px;
  }

  .skills-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container-contact {
    padding: 60px;
  }

  .container-contact .contact-right {
    display: none;
  }

  footer {
    height: 100%;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px 24px;
  }

  .navigation {
    display: block;
  }

  .one,
  .two,
  .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-grayscale-gray800);
    z-index: 10; /*posiçao das camadas*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on .navigation {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on .navigation ul {
    text-align: center;
    display: block;
  }

  .menu-section.on .navigation ul a {
    transition-duration: 0.5s;
    font-size: 18px;
    line-height: 20px;
    display: block;
  }

  .navigation ul li {
    display: none;
  }

  .menu-section.on .navigation ul li {
    display: block;
  }

  .about-description .description-title .title {
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .header-top {
    width: 100%;
  }

  .header-content {
    padding: 60px;
  }

  .header-image img {
    display: none;
  }

  .base-button {
    display: flex;
    flex-direction: column;
  }

  .base-button .primary,
  .base-button .secondary {
    width: 300px;
    height: 48px;
  }

  .skills-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container-contact {
    padding: 60px;
  }

  .container-contact .contact-right {
    display: none;
  }

  footer {
    height: 100%;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  footer .footer-content span {
    font-size: 12px;
  }

  .navigation {
    display: block;
  }

  .one,
  .two,
  .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-grayscale-gray800);
    z-index: 10; /*posiçao das camadas*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on .navigation {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on .navigation ul {
    text-align: center;
    display: block;
  }

  .menu-section.on .navigation ul a {
    transition-duration: 0.5s;
    font-size: 18px;
    line-height: 20px;
    display: block;
  }

  .navigation ul li {
    display: none;
  }

  .menu-section.on .navigation ul li {
    display: block;
  }

  .about-description .description-title .title {
    align-items: center;
  }
}
